
<div class="page-wrapper" [ngClass]="{'toggled' : getSideBarState()}">

        <app-sidebar></app-sidebar>

        <main class="page-content">
            <div class="container-fluid">
                <div class="row">
                   <!--  <app-clients></app-clients>   -->

                   <app-users class="container col-md-12"></app-users>

                   <br>

                </div>
             </div>
            <div class="overlay" (click)="toggleSidebar()" [ngClass]="{'show' : !getSideBarState()}"></div>
        </main>

       </div>
